<div class="auth">
  <div class="auth__logo">
    <img src="/images/logo.png" alt="main logo" class="auth__logo--image">
  </div>

  <div class="auth__main--container">
    <div class="auth__content">
        @if(serverError){
            <div class="server-error">
                <span>{{ serverError }}</span>
            </div>
        }
        <h3 class="auth__header">Set a password</h3>
        <p class="auth__sub--header">Your previous password has been reseted. Please set a new password for your account.</p>

        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

            <div class="flex gap-2">
                <p-floatlabel variant="on" class="auth__input--container">
                    <p-password 
                        formControlName="password" 
                        [toggleMask]="true"></p-password>
                    <label>Password</label>
                </p-floatlabel>
                @if(resetForm.get('password')?.touched && resetForm.get('password')?.invalid){
                        <div class="error-text">
                            
                            @if(resetForm.get('password')?.errors?.['required']){
                            <span>Password is required</span>
                            }

                            @if(resetForm.get('password')?.errors?.['minlength']){
                            <span>Minimum 6 characters</span>
                            }

                            @if(resetForm.get('password')?.errors?.['pattern']){
                            <span>
                                Must contain:
                                <br>• Uppercase letter
                                <br>• Lowercase letter
                                <br>• Number
                                <br>• Special character
                                <br>• No spaces
                            </span>
                            }

                        </div>
                    }
            </div>

            <div class="flex gap-2">
                <p-floatlabel variant="on" class="auth__input--container flex-1">
                    <p-password 
                        formControlName="confirmPassword" 
                        [toggleMask]="true"></p-password
                    >
                    <label>Confirm Password</label>
                </p-floatlabel>
                @if(resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.invalid){
                    <div class="error-text">
                        @if(resetForm.get('confirmPassword')?.errors?.['required']){
                            <span>Confirm Password is required</span>
                        }
                    </div>
                }
            </div>

            <div class="card flex justify-center auth__button--container mt-3">
            <p-button type="submit" label="Set Password"></p-button>
            </div>
        </form>
    </div>

    <div class="auth__image--container signup__image--container">
      <img src="/images/login.jpg" alt="" class="auth__image">
    </div>
  </div>
</div>
