// // COLORS
$color-primary: #252B61;

$color-gray-1: #313131;

$color-black-1: #1C1B1F;

$color-orange-1: #FF8682;

$color-green-1: #7FFFAA;

$color-purple-1:#e88eff;
// $color-primary: #0d6efd;
// $color-primary-light: rgba(#037fff, .2);
// $color-primary-light-2: rgba(#037fff, .6);
// $color-primary-hover: #037fff;

// $color-section-header-background: #141722;

// $color-main-font: #a4acc4;

// $color-white: #fff;
// $color-black: #000;

// $color-section-background: #10121B;
// $color-navigation-background: #191D2B;
// $color-navigation-border: #2e344e;

// $color-gray-light-1: #dee2e6;
// $color-gray-light-2: #ced4da;
// $color-gray-light-3: #adb5bd;

// $color-gray-dark-1: #777;
// $color-gray-dark-2: #999;
// $color-gray-dark-3: #333;