.dashboard__days {
  .form-check {
    padding: 0.5rem;
  }
  .btn{
    border-color: var(--color-primary);
    color: var(--color-primary);
  }
  .btn-check:checked + .btn,
  .btn-check:active + .btn {
    background-color: var(--color-primary) !important; // bright yellow
    border-color: var(--color-primary) !important;
    color: white !important; // dark text for contrast
  }
}
.checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem; /* space between checkbox and label */
  margin: .7rem 0;
  margin-bottom: 1rem;
}

.checkbox-wrapper input[type="checkbox"] {
  width: 18px !important;
  height: 18px;
  cursor: pointer;
}
.checkbox-wrapper label {
  cursor: pointer;
  font-size: 1rem;
}
.name_time_other {

    .appointment__button {
      padding: 0.8rem 1.6rem;
      background-color: var(--color-primary);
      color: white;
      border: none;
      border-radius: 0.6rem;
      cursor: pointer;
      font-size: 1.2rem;
      height: fit-content;
      white-space: nowrap;
      &:hover {
        background-color: #1e2561;
      }
    }
  }