@if(isLoading){
  <app-loading-spinner></app-loading-spinner>
}@else {
    <section id="dashboard" class="dashboard">
    <div class="dashboard__title">
        <h2 class="dashboard__title-main">Available Slots</h2>
        <p class="dashboard__title-sub">
        Available Slots related to Dr.: {{ currentDoctor?.firstName }} {{ currentDoctor?.lastName }}
        </p>
        @if(isLoading){
        <div class="dashboard__loading text-center my-4">
            <p>Loading data...</p>
        </div>
        }@else{
        <form [formGroup]="slotsForm" class="dashboard__form" (ngSubmit)="onSubmit()">
            @if (serverError) {
                <div class="server-error" style="margin-bottom: 3rem">
                   <span>{{ serverError }}</span>
                </div>
            }
            <div class="mb-3 dashboard__form-group">
                <label class="form-label">Start Time</label>
                <input type="time" class="form-control" formControlName="startTime" />
            </div>

            <div class="mb-3 dashboard__form-group">
                <label class="form-label">End Time</label>
                <input type="time" class="form-control" formControlName="endTime" />
            </div>

            <div class="checkbox-wrapper">
                <input 
                    type="checkbox" 
                    id="isRecurring" 
                    formControlName="isRecurring"    
                />
                <label for="isRecurring">Repeat every week</label>
            </div>
            @if(!slotsForm.get('isRecurring')?.value){
                <div class="mb-3 dashboard__form-group">
                    <label class="form-label">Date</label>
                    <input type="date" class="form-control" formControlName="date" />
                </div>
            }

            @if(slotsForm.get('isRecurring')?.value){
                <div formGroupName="days" class="dashboard__days mb-3">
                    <div class="btn-group" role="group" aria-label="Days of week">
                        @for(day of dayOptions; track day.value){
                            <input type="checkbox"
                                class="btn-check"
                                [formControlName]="day.controlName"
                                id="btn-{{day.controlName}}" />
                            <label class="btn btn-outline-primary me-1 mb-1" for="btn-{{day.controlName}}">
                               {{ day.name }}
                            </label>
                        }
                    </div>
                </div>
            }
            @if(selectedDaysError){
                <div class="text-danger mb-2 fs-4">
                    {{ selectedDaysError }}
                </div>
            }
            @else if(dateError){
                <div class="text-danger mb-2 fs-4">
                    {{ dateError }}
                </div>
            }

            <div class="name_time_other">
                <div class="name_time">
                    <button
                        class="appointment__button btn"
                        [disabled]="isLoading"
                        >
                        Add Slots
                    </button>
                </div>
            </div>
        </form>
        }
  </div>
</section>
}