input[type="date"]:not(:placeholder-shown) + label {
  transform: translateY(-0.75rem);
  font-size: 0.75rem;
  color: var(--primary-color);
  top: 0;
}
.auth__next--button{
  margin-left: auto !important;
  width: fit-content !important;
}
.auth .p-dropdown{
  width: 100%;
  height: 42.5px;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}